body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: blueviolet;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: blueviolet;
    margin: 20px;
}

.right {
    flex: 1;
}

.left {
    flex: 1;
}